<a href="https://colab.research.google.com/github/kopiladevkota/Python/blob/main/Implementing_sets_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

--> Set is an  unordered collection of elements unlike tuple and lists.
--> No duplicate element.
--> Mutable or modifiable.
--> Set theory operations are possible.

In [ ]:
#unordered
my_set = {'A','B','C','D',1,'E',2,4}
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [ ]:
#unique values
my_set = {'A','B','D','C','D','E',2 , 4 ,2 ,2}
my_set

{2, 4, 'A', 'B', 'C', 'D', 'E'}

In [ ]:
#Defining a set from list and tuple
my_list =['A', 'B',1 , 2 , 'B' , 'A']
my_set_from_list = set(my_list)
my_set_from_list

{1, 2, 'A', 'B'}

In [ ]:
my_tuple = ('A' ,'B',1, 2, 'B' , 'A')
my_set_from_tuple =set(my_tuple)
my_set_from_tuple

{1, 2, 'A', 'B'}

In [ ]:
my_set

{'0', 2, 4, 'A', 'B', 'C', 'D', 'E', 'o'}

In [ ]:
#Add an element to the set
my_set.add('P')
my_set

{'0', 2, 4, 'A', 'B', 'C', 'D', 'E', 'P', 'o'}

In [ ]:
#Delete an element from the set
my_set = {'A','B','C','D',1,'E',2,4}
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [ ]:
my_set.discard("A")
my_set

{1, 2, 4, 'B', 'C', 'D', 'E'}

In [ ]:
my_set.discard("X")
my_set

{1, 2, 4, 'B', 'C', 'D', 'E'}

In [ ]:
my_set.remove("X")#this throws an error since x is not present in the set

KeyError: 'X'

In [ ]:
#Set 1
my_set

{1, 2, 4, 'B', 'C', 'D', 'E'}

In [ ]:
#set2
my_set_from_list

{1, 2, 'A', 'B'}

In [ ]:
#difference of 2 sets
my_set.difference(my_set_from_list)

{4, 'C', 'D', 'E'}

In [ ]:
#it will not update the results ,if not stored in a variable
my_set

{1, 2, 4, 'B', 'C', 'D', 'E'}

In [ ]:
#use the difference update to store the results directly
my_set.difference_update(my_set_from_list)

In [ ]:
my_set

{4, 'C', 'D', 'E'}

In [ ]:
my_set = {'A','B','C','D',1,'E',2,4}

In [ ]:
my_set_from_list

{1, 2, 'A', 'B'}

In [ ]:
my_set.intersection(my_set_from_list)

{1, 2, 'A', 'B'}

In [ ]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [ ]:
my_set.intersection_update(my_set_from_list)

In [ ]:
my_set

{1, 2, 'A', 'B'}

Other operations on set
--> is_disjoint
--> is_subset
--> is_superset
--> union

In [ ]:
set1 = {'A', 'B', 'C', 'D', 'E'}
set2 = {'A', 'D', 'E'}
set3 = {'S', 'T', 'U'}

In [ ]:
set1.isdisjoint(set2)

False

In [ ]:
set1.isdisjoint(set3)

True

In [ ]:
set2.issubset(set1)

True

In [ ]:
set1.issuperset(set2)

True

In [ ]:
#union of 2 sets
set1.union(set3)

{'A', 'B', 'C', 'D', 'E', 'S', 'T', 'U'}

In [ ]:
#Update Set
#update a set with new values,it will add the values which are not present in the original set
set1.update({'C', 'D','E','R','Z'})
set1

{'A', 'B', 'C', 'D', 'E', 'R', 'Z'}

In [ ]:
#iterate the set
for element in set1:
  print(element)

D
R
Z
A
C
E
B