A dictionary is an unordered data structure where elements are separated by a comma and stored as key : value pair

In [ ]:
#creating a dictionary by defining the key value pairs
my_dictionary = {
    'name' : 'abc',
    'age'  :   21 ,
    'roll_no' : 'CSE100',
    'percentage' : 85,
    'attendance' : 74,
    'city' : 'KTM',
    'country' : 'Nepal',

}

In [ ]:
my_dictionary

{'name': 'abc',
 'age': 21,
 'roll_no': 'CSE100',
 'percentage': 85,
 'attendance': 74,
 'city': 'KTM',
 'country': 'Nepal'}

In [ ]:
print('name is : ',my_dictionary['name'])

name is :  abc

In [ ]:
print('Age before updation is : ',my_dictionary['age'])
my_dictionary['age'] =25
print('Age after updation is : ',my_dictionary['age'])

Age before updation is :  21
Age after updation is :  25

In [ ]:
my_dictionary.keys()

dict_keys(['name', 'age', 'roll_no', 'percentage', 'attendance', 'city', 'country'])

In [ ]:
my_dictionary.values()

dict_values(['abc', 25, 'CSE100', 85, 74, 'KTM', 'Nepal'])

In [ ]:
my_dictionary.update({'pincode' : 122015,'last_name' : 'xyz'})

In [ ]:
my_dictionary

{'name': 'abc',
 'age': 25,
 'roll_no': 'CSE100',
 'percentage': 85,
 'attendance': 74,
 'city': 'KTM',
 'country': 'Nepal',
 'pincode': 122015,
 'last_name': 'xyz'}

In [ ]:
my_dictionary.items()

dict_items([('name', 'abc'), ('age', 25), ('roll_no', 'CSE100'), ('percentage', 85), ('attendance', 74), ('city', 'KTM'), ('country', 'Nepal'), ('pincode', 122015), ('last_name', 'xyz')])

Most of the data types can be used as keys in dictionary

In [ ]:
sample={
    'string' : 'string',
    10 : 'integer',
    1.5 : 'float',
    10 : 'boolean'
}

In [ ]:
sample

{'string': 'string', 10: 'boolean', 1.5: 'float'}

In [ ]:
sample[1.5]

'float'

The keys in the dictinary cannot be duplicated. If we add duplicate keys , it will not throw an error instead it will overwrite the value which is added in the last

In [ ]:
sample ={
    'A' : 1,
    'B' :  2,
    'C' :3 ,
    'A' : 100
}

A dictionary key must be a type that is imutable

In [ ]:
#list is mutable ,hence not allowed
sample ={
    1: 'ínteger',
    [1,2] : 'list'
}

TypeError: unhashable type: 'list'

In [ ]:
#set is mutable ,hence not allowed
sample ={
    1: 'ínteger',
    {1,2} : 'set'
}

TypeError: unhashable type: 'set'

In [ ]:
#tuple is immutable ,hence allowed
sample ={
    1: 'ínteger',
    (1,2) : 'tuple'
}
sample

{1: 'ínteger', (1, 2): 'tuple'}

Comoare two dictionaries by changing the order

In [ ]:
dict1 = {
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    'key_3' : 3
}
dict2 = {
    'key_3' : 3,
    'key_1' : 'value_1',
    'key_2' : 'value_2'
    }
dict1 == dict2

True

In [ ]:
#iterate through key value pairs of the dictionary
for key, value in my_dictionary.items() :
  print(key,value)

name abc
age 25
roll_no CSE100
percentage 85
attendance 74
city KTM
country Nepal
pincode 122015
last_name xyz

In [ ]:
dict3 = {
    'Kopila' : 256,
    'Jane' : 56,
    'Kamal' : 25,
    'Kila' : 1256,
    'Anna' : 2056,
}
dict3

{'Kopila': 256, 'Jane': 56, 'Kamal': 25, 'Kila': 1256, 'Anna': 2056}

In [ ]:
sorted(dict3)

['Anna', 'Jane', 'Kamal', 'Kila', 'Kopila']

In [ ]:
sorted(dict3.items())#keys are alphabes so they are sorted in alphbetical order

[('Anna', 2056), ('Jane', 56), ('Kamal', 25), ('Kila', 1256), ('Kopila', 256)]